@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative; /* Added for the overlay positioning */
}

.mini-container {
    flex: 1;
    height: 600px;
    z-index: 99;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

ul {
    list-style: none;
    margin-left: 10px;
}

.list li {
    color: white;
    font-family: 'Montserrat';
    margin-left: 5px;
}

.big-li {
    font-weight: normal;
    font-size: 40px;
    transition: color 0.3s ease, transform 0.3s ease; /* Added transition */
}

.small-li {
    font-weight: normal;
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease; /* Added transition */
}

a {
    text-decoration: none;
    border: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: none;
    color: white;
    transition: color 0.3s ease, transform 0.3s ease; /* Added transition */
}

#active a {
    color: gold;
    transform: scale(1.1); /* Slight scale transformation */
    letter-spacing: 0.5px;
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: gold; /* Change color on hover */
    transform: scale(1.05); /* Slight scale transformation on hover */
}

.mini-container-2 {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.upper {
    flex: 1;
    background-color: transparent;
}

.lower {
    flex: 1;
    position: relative;
}

.lower a {
    font-family: 'Montserrat';
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    position: absolute;
    top: 10px;
    right: 15px;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.8);
    transition: color 0.3s ease, transform 0.3s ease; /* Added transition */
}

.lower a:hover {
    color: gold;
    transform: scale(1.05); /* Slight scale transformation on hover */
}
